{% extends 'base.html' %}

{% block title %}Teachers' List{% endblock title %}

{% block content %}

Teachers' List
<form action="{% url 'teachers' %}" method="get">
   <input name="info">
   <input value="Search Teacher" type="submit">

<a href="{% url 'teachers-add' %}">
    <p><input type="button" value="Add Teacher"></p>
</a>

</form>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>

{% for teacher in teachers %}
  <tr>
    <td><a href="{% url 'teachers-edit' pk=teacher.id %}"> Edit {{ teacher.id }} </a></td>
    <td>{{ teacher.first_name }}</td>
    <td>{{ teacher.last_name }}</td>
    <td>{{ teacher.email }}</td>
  </tr>
{% endfor %}

</table>

{% endblock content %}