{% extends 'base.html' %}

{% block content %}

    <title>Students' List</title>
</head>
<body>

Students' List
<form action="{% url 'students' %}" method="get">
   <input name="first_name">
   <input value="Search Student" type="submit" >

<a href="{% url 'students-add' %}">
    <p><input type="button" value="Add Student"></p>
</a>

<a href="{% url 'contact' %}">
    <p><input type="button" value="Contact Us"></p>
</a>

</form>

{% for student in students %}
    <a href="{% url 'students-edit' pk=student.id %}"> Edit {{ student.id }} </a>
     {{ student.first_name }} {{ student.last_name }}: {{ student.email }}<br>
{% endfor %}

{{ students_list|safe }}

{% endblock content %}